.footer {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 60px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #8C8C8C;
}